/* FONTS */
$font-sm: 0.5rem;
$font-md: 1rem;
$font-lg: 1.5rem;
$font-xl: 2rem;
$font-xxl: 2.5rem;

/* SPACINGS */
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 2.5rem;

/* COLORS */
$white: white;
$black: black;
$primary: #337dff;
$secondary: #CCCCCC;
$terciary: rgb(150, 150, 150);