/* --> INICIO CSS HEADER <--- */
header {
    display: flex;
    width: 100%;
    z-index: 1000;
}

.NAVBAR {
    align-items: center;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background-color: rgba(0, 29, 77, 0.9);
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 9, 37, 0.8);
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;

    &__LOGO {
        .logo {
            /* LOGO HEADER */
            max-height: 12rem;
            padding: 2rem 0rem;
            animation-name: logoRotate;
            animation-timing-function: ease;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
    }

    &__CHECKBOX {
        display: none;
    }
    
    &__TOGGLE {

        display: none;

        svg {
            color: $white;
            height: 30px;
            width: 30px;
        }

        .iconMenu {
            background-image: url("../media/icons/hamburguerIcon.svg");
        }
        
        .iconClose {
            background-image: url("../media/icons/closeIcon.svg");
        }
    }
}

@keyframes logoRotate {
    0% {
        transform: rotateY(0deg);
        opacity: 1; }
    50% { opacity: 0; }
    100% {
        transform: rotateY(360deg);
        opacity: 1; }
}

/* CLASES MENU */
.menu {
    align-items: center;
    display: flex;    
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 0rem;

    .botonesMenu {
        padding: 0.5rem 1rem;
    
        .subMenu {
            background-color: rgba(0, 29, 77, 0.9);
            display: none;
            position: absolute;
        }
    }
    
    .botonesMenu:hover {
        background-color: #337dff;
    
        & > a {
            color: #f5f5f5;
        }
    
        & > .subMenu {
            display: flex;
            flex-direction: column;
            margin-top: 0.5rem;
            margin-left: -1rem;
        }
    }
}

.paginaActiva {
    & > a{
        color: white;
        font-size: 1.7rem;
        font-weight: 900;
    }
}

ul {
    & > .paginaActiva {
        background-color: rgb(180, 180, 180);
        box-shadow: inset 0rem 0rem 0.35rem rgb(40, 40, 40);
    }
}
/* --> FIN CSS HEADER <-- */

/* INICIO MEDIAS HEADER */
@media only screen and (max-width: 1024px) {
    .grid-header {
        background-color: rgba(0, 29, 77, 0.9);
        display: grid;
        grid-area: grid-header;
        justify-items: center;
        width: 100%;
    }

    .NAVBAR {
        background-color: rgba(0, 29, 77, 0.9);
        display: grid;
        justify-items: center;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    .botonesMenu:hover {
        & > .subMenu {
            display: none;
        }
    }
}

@media only screen and (max-width: 600px) {
    .NAVBAR {
        display: grid; /* PROPIEDADES PARA MOBILE */
        justify-items: center;
        // position: static;
        width: 100vw;

        &__TOGGLE {
            cursor: pointer;
            display: flex;
            margin: 6rem $spacing-xl*1.75 0rem;
            position: absolute;
            right: 0;

            .iconClose {
                display: none;
            }
        }

        .menu {
            display: none;
            flex-direction: column;
            padding-bottom: $spacing-xl;
        }
    
        .botonesMenu:hover {
            & > .subMenu {
                display: none;
            }
        }
    }

    /* FUNCIONALIDAD PARA QUE CUANDO CLICKEEN EL ICONO DEL MENU HAMBURGUESA SE DESPLIEGUE EL MENU*/
    #NAVBAR__CHECKBOX:checked ~ .NAVBAR__TOGGLE { 
        margin: -11rem $spacing-xl*1.75 0rem;
    }

    #NAVBAR__CHECKBOX:checked ~ .NAVBAR__TOGGLE .iconMenu {
        display: none;
    }

    #NAVBAR__CHECKBOX:checked ~ .NAVBAR__TOGGLE .iconClose {
        display: flex;
    }

    #NAVBAR__CHECKBOX:checked ~ .menu { 
        display: flex;
    }
}
/* FIN MEDIAS HEADER */