/* INICIO CLASES 404-not-found.html */

.notFound {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    // min-height: 65.5vh;
    min-width: 98vw;
    padding: $spacing-xl*4.8;

    &__H1{
        display: block;
        color: $primary;
        font-size: $font-xxl*2;
        font-weight: 900;
    }

    &__H2 {
        color: $terciary;
        font-size: $font-xxl;
        font-weight: 700;
    }

    &__H3 {
        color: $terciary;
        font-size: $font-xl;
        font-weight: 500;
        font-style: italic;
    }

    &__img {
        height: 30rem;
        width: 30rem;
    }
}