/* --> INICIO CLASES nosotros.html <-- */
.nosotrosFooter{
    position: absolute;
}

.mainNosotros {
    flex-direction: row;
    justify-content: center;
}

.nosotros {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    min-height: 66vh;
    max-width: 60vw;
    width: 100%;

    .nosotrosTexto {
        flex-direction: column;
        max-width: 60%;
        padding-left: 2rem;

        .nosotrosH2 {
            color: #337dff;
            font-size: 4rem;
            font-weight: 700;
            padding: 0rem 0rem 2rem;
            width: 100%;
        }
        
        .nosotrosP {
            color: rgb(80,80,80);
            font-size: 2rem;
            line-height: $spacing-xl*1.5;
            padding: $spacing-md 0rem;
        }
    }
    
    .nosotrosLogo {
        display: flex;
        max-width: 40%;
        padding: 7rem 2rem;

        .nosotrosLogoImg {
            box-shadow: 0rem 0rem 0.25rem rgb(80, 80, 80);
            display: flex;
            height: auto;
            max-width: 100%;
            width: $spacing-xl*15;
        }
    }
}
/* FIN CLASES nosotros.html */
/* MEDIA QUERIES nosotros.html*/
@media only screen and (max-width: 1024px) {

    .nosotros {
        max-width: 90vw;
    }

    .nosotrosFooter {
        position: relative;
    }
}
@media only screen and (max-width: 600px) {

    .nosotros {
        align-items: center;
        flex-direction: column;
        max-width: 100vw;
        width: 100%;

        .nosotrosTexto {
            max-width: 100%;
            order: 2;
        }
    
        .nosotrosLogo {
            order: 1;
            max-width: 100%;
            padding: 0rem 0rem $spacing-xl;
        }
    }

    .nosotrosFooter {
        position: relative;
    }
}